@charset "utf-8";
// If need, change your variables before importing Bulma
$title-color: #ff0000;
// Set your brand colors
$blue: #4FB0E1;
$pink: #FA7C91;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;


// Update Bulma's global variables
$family-serif: 'freight-text-pro', serif;
$family-sans-serif: 'source-sans-pro', sans-serif;
$family-primary: $family-serif;
$link: $blue;
$widescreen-enabled: false;
$fullhd-enabled: false;

@import "~bulma/bulma.sass";

// Update some of Bulma's component variables
$body-background-color:  $white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

.container {
 opacity: 0;
 visibility: hidden;
 transition: opacity 250ms ease-out,
    visibility 250ms ease-out;
}

.wf-active {
 .container {
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms ease-out,
     visibility 250ms ease-out;
 }
}


.container {
  padding: 4rem 4rem 0;
}

.title {
  color: $black-ter;
}

.name-style {
  border-radius: $radius;
}

html {
  height: 100%;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.footer {
  flex-shrink: 0;
}

.simile {
  @extend .has-text-weight-semibold;
  @extend .is-family-sans-serif;
  @extend .has-text-info;
  @extend .has-background-info-light;
  vertical-align: middle;
  font-style: italic;
}
